EPIS_CW1_IN_Document_App/schemas/CW1_IN_Document_SND_ErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:schemas:ace:errorschema"
           xmlns:ace="urn:schemas:ace:errorschema"
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      ErrorSchema: Data structure definition for enterprise data exchange.
    </xs:documentation>
  </xs:annotation>
  <xs:element name="error" type="ace:errorType">
    <xs:annotation>
      <xs:documentation>
        The error element represents an error that occurred during data exchange.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="errorType">
    <xs:sequence>
      <!-- Add error details here as needed -->
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Error code.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="message" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Error message.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>