EPIS_CW1_IN_Document_App/schemas/CW1_IN_Document_SND_AddressSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:schemas:ace:address"
           elementFormDefault="qualified">
    <xs:element name="Address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Street" type="xs:string"/>
                <xs:element name="City" type="xs:string"/>
                <xs:element name="State" type="xs:string"/>
                <xs:element name="Zip" type="xs:string"/>
                <xs:element name="Country" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>