EPIS_Qguar_SAT_DMZ_App/schemas/ErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:schemas:ace:errorschema"
           elementFormDefault="qualified">
    <xs:element name="Error">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ErrorCode" type="xs:string"/>
                <xs:element name="ErrorMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ErrorList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Error" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>