EPIS_BR_Apps_CW1_App/schemas/ErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:schemas:ace:errorschema" 
           elementFormDefault="qualified">
    <xs:element name="Error">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ErrorCode" type="xs:string"/>
                <xs:element name="ErrorMessage" type="xs:string"/>
                <xs:element name="ErrorDetails" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ErrorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Error" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>